body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f2f2f2;
    text-align: left;
    padding: 14px;
}

.file-upload-section {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.file-upload-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    max-width: 300px; /* Kutucukları genişlik olarak sınırla /

    label {
        flex: 1;
        margin-right: 10px;
    }

    .file-input-container {
        display: flex;
        align-items: center;
    }

    .file-input {
        display: none;
    }

    .upload-button {
        background-color: #444;
        color: white;
        border: none;
        padding: 5px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
        margin: 4px 2px;
        cursor: pointer;
    }
}

.message-section {
    position: fixed;
    bottom: 40px;
    right: 40px;
*/
    .message-box {
        background-color: #f2f2f2;
        padding: 15px; 
        border: 1px solid #ccc;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 400px;

        label {
            margin-bottom: 5px;
        }

        textarea {
            margin-bottom: 10px;
            max-width: 100%;
        }

        .send-button {
            background-color: #444;
            color: white;
            border: none;
            padding: 8px 15px;
            font-size: 14px;
            cursor: pointer;
            align-self: flex-end;
        }
    }
}