<div>
  <h2>Dosya Yükleme</h2>
  <form>
    <label for="stajDefteri">Staj Defteri Yükle:</label>
    <input type="file" id="stajDefteri" name="stajDefteri" accept=".pdf">
    <br>
    <label for="haftalikTablo">Haftalık Tablo Yükle:</label>
    <input type="file" id="haftalikTablo" name="haftalikTablo" accept=".pdf">
    <br>
    <label for="yoklamaCizelgesi">Yoklama Çizelgesi Yükle:</label>
    <input type="file" id="yoklamaCizelgesi" name="yoklamaCizelgesi" accept=".pdf">
    <br>
    <button type="submit">Yükle</button>
  </form>
</div>
