

    i {
      font-size: 20px;
      color: beige;
      margin: auto;


    }
    

    .logo-container {
      display: flex;
      align-items: center;
    }

    .university-title {
      font-size: 30px;
      display: inline-block;
      vertical-align: top;
      margin-top: 30px;
    }  
    
    .university-title a {
      color: beige ;
    }

    .nav {
      display: inline-block;
      vertical-align: middle;
    }  

    .search-box {
      display: none;
      position: absolute;
      top: 40px; /* İstediğin konuma göre ayarla */
      right: 5px; /* İstediğin konuma göre ayarla */
      padding: 5px;
      border: 1px solid #ccc;
      background-color: beige;
    }

    .small-logo {
      width: 100px;
      /* Adjust the width as needed */
      height: auto;
      /* Maintain the aspect ratio */
      margin-right: 10px;
      /* Adjust the margin as needed */
      /* Add other styling properties as needed */
    }

    .footer {
      background-color: #333;
      color: #fff;
      padding: 50px 0;
      font-family: 'Asap', sans-serif;;
    }

    .footer-logo img {
      width: 50px;
      /* Adjust the width as needed */
      height: auto;
      /* Maintain the aspect ratio */
      margin-right: 10px;
      /* Adjust the margin as needed */
    }

    .social-icons ul {
      list-style: none;
      padding: 0;
    }

    .social-icons ul li {
      display: inline-block;
      margin-right: 10px;
    }

    .social-icons a {
      color: #fff;
      font-size: 18px;
    }

    .caption {
      border: 1px solid #ccc; /* İstenirse kenarlık ekleyebilirsiniz */
      padding: 10px; /* İstenirse içeriğe biraz boşluk ekleyebilirsiniz */
      margin-right: auto; /* Sağ kenara yapışık olmaması için */
      margin-left: 0; /* Sol kenardan 0px uzaklıkta */
    }
    


