<div class="container">
    <h2>Yapılan Stajlar ve Onay Durumu</h2>
    <ul class="responsive-table">
      <li class="table-header">
        <div class="col col-1">Staj Sayısı</div>
        <div class="col col-2">Öğrenci İsmi</div>
        <div class="col col-3">İş yeri İsmi</div>
        <div class="col col-4">Onaylama Durumu</div>
        
      </li>
      <li class="table-row">
        <div class="col col-1" data-label="staj no">1</div>
        <div class="col col-2" data-label="Student Name">John Doe</div>
        <div class="col col-3" data-label="Work place">Dogus Company</div>
        <div class="col col-4" data-label="Approval">Onaylandı</div>
        
        
      </li>
      <li class="table-row">
        <div class="col col-1" data-label="staj no">2</div>
        <div class="col col-2" data-label="Student Name">John Doe</div>
        <div class="col col-3" data-label="Work place">Arçelik</div>
        <div class="col col-4" data-label="Approval">Onay Bekleniyor</div>
    
      </li>
    </ul>
  </div>