<div class="center">
    <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="selectedFiles($event)">
        <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
            {{options.explanation}}
            Staj defterinizi tek bir pdf halinde yükleyiniz, eksik dosya durumunda danışmanınıza haber veriniz.
            <button type="button" (click)="openFileSelector()">Dosya Yükle</button>
        </ng-template>
    </ngx-file-drop>
    <div class="upload-table" *ngIf="files">
        <table class="table">
            <thead>
                <tr>
                    <th>Dosya</th>
                </tr>
            </thead>
            <tbody class="upload-name-style">
                <tr *ngFor="let item of files; let i=index">
                    <td><strong>{{ item.relativePath }}</strong></td>
                    <td> <button type="button" (click)="confirmDelete(item.relativePath)">Dosya Sil</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>