

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <img src="../assets/image/logo.png" class="logo">
    <div class="container-fluid">
      <div class="brand-container">
        <a class="navbar-brand" href="#">DOĞUŞ ÜNİVERSİTESİ</a>
        
             
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="">Anasayfa</a>
          </li> 
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="staj-yon">Staj Yönergesi</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="staj-def">Staj Defteri</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="formlar">Formlar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="ig-belge">İşe Giriş Belgesi</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="login">Giriş</a>
          </li>
          <li>
            <a routerLink="admin" class="btn btn-outline-success" type="submit">Öğrenci</a>
          </li>
    
        </ul>
        <!-- <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Arama Yap.." aria-label="Arama Yap">
          <button class="btn btn-outline-success" type="submit">Arama Yap</button>
        </form> -->
      </div>
    </div>
</nav>
