@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 10px;
    background: linear-gradient(to right, rgba(255, 255, 255, 1));
}

.container {
    max-width: 800px;
    background: #fff;
    width: 100%;
    padding: 25px 40px 40px 40px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.container .text {
    text-align: center;
    font-size: 41px;
    font-weight: 600;
    background: #8c0f15;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 20px;
}

.container form {
    padding: 30px 0 0 0;
}

.container form .form-row {
    display: flex;
    flex-wrap: wrap;
    margin: 32px 0;
}

form .form-row .input-data {
    width: calc(50% - 20px);
    margin: 0 10px 20px;
    position: relative;
}

form .form-row .textarea {
    width: 100%;
}

.input-data input,
.textarea textarea,
.input-data select {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    font-size: 17px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.12);
}

.input-data input:focus~label,
.textarea textarea:focus~label,
.input-data select:focus~label,
.input-data input:valid~label,
.textarea textarea:valid~label,
.input-data select:valid~label {
    transform: translateY(-20px);
    font-size: 14px;
    color: #8c0f15;
}

.textarea textarea {
    resize: none;
    padding-top: 10px;
}

.input-data label {
    position: absolute;
    pointer-events: none;
    bottom: 10px;
    font-size: 16px;
    transition: all 0.3s ease;
    padding: 16px;
}

.textarea label {
    bottom: 40px;
    background: #fff;
}

.input-data .underline {
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 100%;
}

.input-data .underline:before {
    position: absolute;
    content: "";
    height: 2px;
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
}

.input-data input:focus~.underline:before,
.input-data input:valid~.underline:before,
.textarea textarea:focus~.underline:before,
.textarea textarea:valid~.underline:before {
    transform: scale(1);
}

.submit-btn .input-data {
    overflow: hidden;
    height: 45px !important;
    width: calc(25% - 20px) !important;
    margin-right: 20px;
    position: relative;
}

.submit-btn .input-data .inner {
    height: 100%;
    width: 300%;
    position: absolute;
    left: -100%;
    background: linear-gradient(to right, #56d8e4, #9f01ea, #56d8e4, #9f01ea);
    transition: all 0.4s;
}

.submit-btn .input-data:hover .inner {
    left: 0;
}

.submit-btn .input-data input {
    background: none;
    border: none;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    position: relative;
    z-index: 2;
}

@media (max-width: 700px) {
    .container .text {
        font-size: 30px;
    }

    .container form {
        padding: 10px 0 0 0;
    }

    .container form .form-row .input-data {
        width: calc(100% - 20px);
        margin: 0 10px 20px;
    }

    .submit-btn .input-data {
        width: calc(40% - 20px) !important;
        margin-right: 0;
        margin-top: 20px;
    }
}