body {
    font-family: 'lato', sans-serif;
    margin: 0; /* Sayfa kenar boşluklarını kaldırır */
}

.container {
    max-width: 100%;
    padding: 10px;
}

h2 {
    font-size: 26px;
    margin: 20px 0;
    text-align: center;
}

.table-container {
    overflow-x: auto; /* Tablo geniş sayfa boyunca sığmazsa yatay kaydırma ekle */
}

.responsive-table {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
}

.table-header, .table-row {
    display: flex;
    justify-content: space-between;
}

.table-header {
    background-color: firebrick;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    color: #ffffff;
}

.table-row {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
}

.col {
    flex: 1;
    padding: 25px 30px;
    box-sizing: border-box;
}

.col a {
    color: #007BFF;
    text-decoration: none;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8 {
    flex-basis: 12%;
}

input[type="submit"] {
    width: 100%;
}

@media all and (max-width: 767px) {
    .table-header {
        display: none;
    }

    .table-row {
        display: block;
    }

    .col {
        flex-basis: 100%;
        padding: 10px 0;
        text-align: center;

        &:before {
            content: attr(data-label);
            font-weight: bold;
            display: block;
            color: #6C7A89;
            margin-bottom: 5px;
        }

        a {
            display: block;
            margin-top: 5px;
        }
    }
}
