<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="/src/assets/css/style.css">
</head>

<body>
    <div class="login-wrap">
        <div class="login-html">
            <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Öğrenci
                Girişi</label>
            <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Akademisyen
                Girişi</label>
            <div class="login-form">
                <div class="sign-in-htm">
                    <div class="group">
                        <label for="user" class="label">Öğrenci No:</label>
                        <input #txtStudentNo id="user" type="text" class="input" placeholder="Öğrenci No">
                    </div>
                    <div class="group">
                        <label for="pass" class="label">Şifre:</label>
                        <input #txtPasswordStudent id="pass" type="password" class="input" data-type="password"
                            placeholder="Şifre">
                    </div>
                    <div class="group">
                        <input id="check" type="checkbox" class="check" checked>
                    </div>
                    <div class="group">
                        <input type="submit" class="button" value="Giriş Yap"
                            (click)="loginStudent(txtStudentNo.value, txtPasswordStudent.value)">
                    </div>
                    <div class="hr"></div>
                    <div class="foot-lnk">
                        <a href="#forgot">Şifremi Unuttum</a>
                    </div>
                </div>

                <div class="sign-up-htm">
                    <div class="group">
                        <label for="user" class="label">Kullanıcı Adı:</label>
                        <input #txtUserName id="user" type="text" class="input" placeholder="Kullanıcı Adı">
                    </div>
                    <div class="group">
                        <label for="pass" class="label">Şifre:</label>
                        <input #txtPasswordAdvisor id="pass" type="password" class="input" data-type="password"
                            placeholder="Şifre">
                    </div>

                    <div class="group">
                        <input type="submit" class="button" (click)="loginAdvisor(txtUserName.value, txtPasswordAdvisor.value)"
                            value="Giriş Yap">
                    </div>
                    <div class="hr"></div>
                    <div class="foot-lnk">
                        <a href="#forgot">Şifremi Unuttum</a>
                    </div>
                    <div class="hr"></div>
                    <div class="foot-lnk">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
