<body>
    <div class="student-card">
      <div class="info-box">
        <label>Adı Soyadı:</label>
        <span>[Öğrenci Adı Soyadı]</span>
      </div>
      <div class="info-box">
        <label>Öğrenci Numarası:</label>
        <span>[Öğrenci Numarası]</span>
      </div>
      <div class="info-box">
        <label>Danışman Bilgileri:</label>
        <span>Danışman Adı Soyadı: [Danışman Adı Soyadı]</span>
      </div>
      <div class="info-box">
        <label>Bölümü:</label>
        <span>[Öğrencinin Bulunduğu Bölüm]</span>
      </div>
      <div class="info-box">
        <label>Öğrenim Bilgileri:</label>
        <span>Bulunduğu Yarıyıl: [Yarıyıl]</span>
      </div>
    </div>
  </body>
  

