<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <title>Dosya Yükleme Formu</title>
</head>
<body>

<header>
    <p>Lütfen Aşağıdaki Tüm Belgeleri Yükleyiniz, Eksik Belge Yükleme Durumunda Danışman Hocanıza Haber Veriniz.</p>
</header>

<section class="file-upload-section">
    <div class="file-upload-box">
        <label for="stajDefteri">Staj Defteri</label>
        <div class="file-input-container">
            <input type="file" id="stajDefteri" class="file-input" />
            <!-- <button class="upload-button">+</button> -->
        </div>
    </div>

    <div class="file-upload-box">
        <label for="yoklamaCizelgesi">Yoklama Çizelgesi</label>
        <div class="file-input-container">
            <input type="file" id="yoklamaCizelgesi" class="file-input" />
            <!-- <button class="upload-button">+</button> -->
        </div>
    </div>

    <div class="file-upload-box">
        <label for="haftalikTablo">Haftalık Tablo</label>
        <div class="file-input-container">
            <input type="file" id="haftalikTablo" class="file-input" />
            <!-- <button class="upload-button">+</button> -->
        </div>
    </div>
    <button class="send-button-1">Gönder</button>
</section>

<aside class="message-section">
    <div class="message-box">
        <label for="message">Mesaj:</label>
        <textarea id="message" rows="4" cols="50" placeholder="Buraya mesajınızı yazınız..."></textarea>
        <button class="send-button-2">Gönder</button>
    </div>
</aside>

</body>
</html>

